node_modules


PROBLEM: User: arn:aws:sts::192047392996:assumed-role/dynamoMatchContestantsLambdaRole4e5e70ad-dev/awslambda_15_20190921094038221
is not authorized to perform: dynamodb:DescribeStream on resource:
arn:aws:dynamodb:eu-west-1:192047392996:table/dynamoMatchContestants-dev/stream/2019-07-28T11:51:13.094


PROBLEM: User: arn:aws:sts::192047392996:assumed-role/dynamoMatchContestantsLambdaRole4e5e70ad-dev/awslambda_15_20190921094038221
is not authorized to perform: dynamodb:DescribeStream on resource:
arn:aws:dynamodb:eu-west-1:192047392996:table/dynamoMatchContestants-dev/stream/2019-07-28T11:51:13.094

Feedback
